.m-datatable .m-datatable__table{
    display: block;
    height: auto;
    overflow-x: auto;
}
.m-datatable  .m-datatable__body  .m-datatable__row:hover  .m-datatable__cell{
    background: #f7f7fc !important;
}
.m-datatable .m-datatable__table .m-datatable__row .m-datatable__cell{
    min-width: 200px;
    word-break: break-all;
}
.m-datatable .m-datatable__table thead .filters {
    background: #F6F6FC;
    height: 56px;
}
.m-datatable .m-datatable__table thead .filters td {
    padding: 16px 15px;
    vertical-align: middle;
    border: 0;
}